.list-item {
    display: flex;
    justify-content: space-between;
}

.input-box {
    display: flex;
    justify-content: center;
}

.think-so {
    text-align: center;
}

ul {
    padding-left: 0;
}

.content-box {
    display: flex;
    justify-content: center;
}
